<h1><%= t ".title" %></h1>

<%= link_to "New product", new_product_path, class: "btn btn-primary" if authenticated? %>
<div id="products" class="mt-3">
  <% @products.each do |product| %>
    <div>
        <%= link_to product.name, product %>
    </div>
  <% end %>
</div>

